a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.card {
  &:hover {
    .card-img-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}

.card-img-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.7);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.error-component {
  font-size: 28px;
  line-height: 150%;
  color: red;
}

.about-text {
  font-size: 22px;
  line-height: 150%;
}
